.definition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-height: 300px;
  margin-top: 64px;
  text-align: center;
}

.guess-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.guess-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

// .grid-item {
//   padding: 20px;
//   text-align: center;
//   border: 1px solid black;
// }

.field {
  flex: 1;
  width: auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid black;
}

.flex-fill {
  flex: 1 1 auto;
}

.guess-field {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.feedback-container {
  text-align: center;
  padding: 32px;
  max-width: 400px;
}

#next-game-btn {
  background-color: #9163EA;
  margin-right: 80px;
}

.score-btn {
  margin-left: 80px;
}

.guess {
  width: 32px;
  height: 32px;
  text-align: center;
  margin-bottom: 48px;
  padding: 0;
}

.form-control {
  text-align: center;
}

// .fade-in {
//   opacity: 0;
//   transition: opacity 2s linear;
// }

// .fade-in.show {
//   opacity: 1;
// }
