.game-main-container {
  width: 100%;
  height: 100%;
  align-items: center;
}

// SCORE

.score-row {
  min-height: 64px;
  align-items: center;
}

.score {
  font-size: larger;
  text-align: center;
  justify-content: center;
}

.score.not-displayed {
  color: #FFFCF9;
}

.dark-mode .score {
  color: #FFFCF9;
}

.dark-mode-not-displayed {
  color: black;
}

/* DEFINITION */

.definition-row {
  align-items: center;
  justify-content: center;
}

.definition-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-bottom: 8px solid black;
  border-right: 8px solid black;
  height: 30%;
  min-height: 360px;
  margin-top: 40px;
  text-align: center;
  width: 40%;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  margin-bottom: 16px; /* Just for spacing in the example */
  background-color: white;

  .feedback {
    font-size: large;
    margin-top: 32px;
  }

  p {
    font-size: xx-large;
    row-gap: 16px;
  }

  .definition {
    font-size: xx-large;
    row-gap: 16px;
  }

  .title-container .app-home-title {
    font-size: 75px;
    margin-bottom: 32px;
  }
}

.dark-mode .definition-container {
  background-color: #FFFCF9;
  border: 1px solid black;
  box-shadow: 8px 8px 0 0 rgb(255, 255, 255);

  .feedback {
    font-size: large;
    margin-top: 32px;
  }
}

.dark-mode .containerMessage {
  color: #000000 ;
}

.dark-mode .definition {
  color: #000000 ;
}


/* Styling for sender's speech bubble pointer */
.definition-container::before {
  content: ""; /* Required to generate the pseudo-element */
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: black transparent transparent transparent; /* Border colors for the triangle */
  border-width: 60px 0px 2px 64px; /* Border widths to form the triangle shape */
  bottom: calc(0% - 62px); /* Position the triangle below the message container */
  left: calc(50% - 32px); /* Center the white triangle horizontally */
}

.definition-container::after {
  content: ""; /* Required to generate the pseudo-element */
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: white transparent transparent transparent; /* Border colors for the triangle */
  border-width: 52px 0px 2px 56px;
  bottom: calc(0% - 54px); /* Position the triangle below the message container */
  left: calc(50% - 32px); /* Center the white triangle horizontally */
}

.dark-mode .definition-container::before {
  display: none;
}


.row {
  .field {
    .form-control {
      background-color: #FFFFFF;
      color: #000000;
      text-align: center;
      font-size: larger;


      .dark-mode & {
        background-color: #FFFCF9;
        border-color: #FFFFFF;
      }
    }
  }
}

.field {
  &.difficulty,
  &.category {
    flex: 1;
    width: auto;
  }
}

/* INPUT FIELDS */

.guess-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  overflow: hidden;
  width: 100% !important;
}

.guess-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  overflow: hidden;
  padding: 4px;
}

.guess-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 100%;
  margin-left: 32px;
}

.guess-big-0 {
  background-color: rgba($color: #1097E1, $alpha: 1);
  &:disabled {
    background-color: rgba($color: rgb(168, 168, 168), $alpha: 1);
  }
  &:focus {
    background-color: rgba($color: #1097E1, $alpha: 1);
  }
}

.guess-big-1 {
  background-color: rgba($color: #1097E1, $alpha: 1);
  &:disabled {
    background-color: rgba($color: rgb(168, 168, 168), $alpha: 1);
  }
  &:focus {
    background-color: rgba($color: #1097E1, $alpha: 1);
  }
}

.guess-big-2 {
  background-color: rgba($color: #1097E1, $alpha: 1);
  &:disabled {
    background-color: rgba($color: rgb(168, 168, 168), $alpha: 1);
  }
  &:focus {
    background-color: rgba($color: #1097E1, $alpha: 1);
  }
}

.dark-mode {
  .guess-big-0,
  .guess-big-1,
  .guess-big-2 {
    background-color: rgba($color: #1098e1, $alpha: 1);

    &:disabled {
      background-color: rgba($color: rgb(168, 168, 168), $alpha: 1);
    }

    &:focus {
      background-color: rgba($color: #1097E1, $alpha: 1);
    }
  }
}

.flex-fill {
  flex: 1 1 auto;
}

.guess-big {
  width: 48px;
  height: 48px;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
  padding: 0;
  font-size: xx-large;
}

.form-control.guess {
    text-align: center;
  }

#line-0 {
  background-color: #FF6042 !important;
}

#line-1 {
  background-color: #F9BF3B !important;
}

#line-2 {
  background-color: #18BBB1 !important;
}

// .dark-mode {
//   #line-0,
//   #line-1,
//   #line-2 {
//     border: 1px solid white !important;
//   }
// }

/* SCORE FEEDBACK TIMER */

.button-row {
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-game {
  min-width: 160px;
  justify-content: center;
  padding: 10px 20px;
  font-size: x-large;
  cursor: pointer;
  border: 1px solid black;
  background-color: #1098e1;
  border-radius: 4px;
  &.disabled {
    cursor: not-allowed;
    background-color: rgba($color: rgb(168, 168, 168), $alpha: 1);
  }
}

.not-displayed {
  display: none;
}

.score-and-timer {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}

.timer-feedback {
  font-size: large;
  text-align: center;
  margin-right: 16px;
}

.score-feedback {
  font-size: large;
  text-align: center;
  margin-left: 16px;
}

.timer {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
  .definition-container {
    min-height: 300px; /* Min-height for screens up to 1200px */
  }
}

@media (max-width: 992px) {
  .definition-container {
    min-height: 300px; /* Min-height for screens up to 992px */
    min-width: 550px;
  }
}

@media (max-width: 768px) {
  .definition-container {
    min-height: 200pxpx; /* Min-height for screens up to 768px */
    min-width: 450px;
  }
}

@media (max-width: 576px) {
  .definition-container {
    min-height: 175px; /* Min-height for screens up to 576px */
    min-width: 300px;
  }
}
