<div class="home-container" data-controller="home" data-home-target="container" data-action="stimulus:connect" >
<div class="row">

<div class="square-container" id="shapes" data-home-target="shapes"></div>


  <h1 class="app-home-title"><span style="color:black">Lingo</span>
  <span style="color: #FF6042">L</span><span style="color: #F9BF3A">u</span><span style="color: #9163EA">d</span><span style="color: #F6B26B">u</span><span style="color: #17BBB0">s</span>
  </h1>
  <p>A language-learning game app</p>
  <div id="square" data-home-target="shapes"></div>
  </div>
</div>
