<div class="home-container" data-controller="home" data-home-target="container">
  <div class="row">

<div class="title-container">
    <h1 class="app-home-title">
      <span style="color:black" class="lingo">Lingo</span>
      <span style="color: #FF6042">L</span>
      <span style="color: #F9BF3A">u</span>
      <span style="color: #9163EA">d</span>
      <span style="color: #F6B26B">u</span>
      <span style="color: #17BBB0">s</span>
    </h1>
    <p data-dark-mode-target="text" class="text">A language-learning game app</p>
</div>

<div class="squares-wrapper">
    <div class="square square-container1" data-home-target="shapes"></div>
    <div class="square square-container2" data-home-target="shapes"></div>
    <div class="square square-container3" data-home-target="shapes"></div>
    <div class="square square-container4" data-home-target="shapes"></div>
    <div class="square square-container5" data-home-target="shapes"></div>
    <div class="square square-container6" data-home-target="shapes"></div>


  </div>

  </div>
</div>
