.container.whole-screen {
  max-width: 100%;
  background: white;
}

.welcome-message {
  font-size: 23px;
  margin-bottom: 20px;
  border-bottom: 3px solid #F5BC3A;
  // font-family: roboto;
  font-weight: 300;
}

.chatroom-container {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #ccc;


  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
    font-family: roboto;
    font-weight: 200;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    margin-left: 70px;
    margin-right: 70px;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.message-form {
  margin-top: 10px;
}

.message-form .input-group {
  display: flex;
  flex-wrap: wrap;
}

.message-form .input-group .form-control {
  flex: 1;
  margin-right: 10px;
}

.message-form .input-group .btn {
  width: auto;
}

.form-control {
  border: none;
}

.channel {
  .chat-icon .fa-regular {
    margin: 8px;
  }
}


.channel-link {
  color: inherit;
  text-decoration: none;
}

.channel-link.color-1:hover {
  background-color: #FF6042;
  padding: 5px;
  text-decoration: none;
}

.channel-link.color-2:hover {
  background-color: #1097E1;
  padding: 5px;
  text-decoration: none;
}

.channel-link.color-3:hover {
  background-color: #18BBB1;
  padding: 5px;
  text-decoration: none;
}

.channel-link.color-4:hover {
  background-color: #9163EA;
  padding: 5px;
  text-decoration: none;
}

.channel-link.color-5:hover {
  background-color: #FF6042;
  padding: 5px;
  text-decoration: none;
}

.channel-link.color-6:hover {
  background-color: #1097E1;
  padding: 5px;
  text-decoration: none;
}

.channel-link.color-7:hover {
  background-color: #18BBB1;
  padding: 5px;
  text-decoration: none;
}

.channel-link.color-8:hover {
  background-color: #9163EA;
  padding: 5px;
  text-decoration: none;
}



.person {
  margin-bottom: 20px;
  border-bottom: 3px solid #FF6042 ;
}

.chat-section-header h3 {
  border-bottom: 3px solid #18BBB1;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 22px;
}


.btn-chat {
background-color: black;
color: white;
transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-chat:hover {
  color:white;
  background-color: black;
  border: 1px solid black;
}

.chat-btn {
  margin-top: 30px;
  padding: 10px 23px;
  border: 1px solid black;
  background-color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
}

.form-inputs .form-control {
  width: 100%;
}

.channel {
  margin-bottom: 10px;
}

#chat-name {
  text-decoration: none;
  color: white;
  background-color: black;
  border: none;
  font-size: 14px;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h1 {
  margin: 0;
}

.chatroom-btn {
  padding: 10px 15px;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}


.no-underline {
  background: none;
  border: none;
  padding: 0;
  margin-left: 30px;
  color: rgb(212, 204, 204);
  text-decoration: none;
}

.no-underline:focus, .no-underline:active {
  outline: none;
  box-shadow: none;
}

.no-underline::after {
  display: none;
}


.modal_header h5 {
  font-family: roboto;
}


.btn-modal-rename {
  background-color: #17BBB0;
  &:hover {
    background-color: #15aea3;
    color: black;
  }
}

.message-remove-link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19px;
  width: 19px;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.8;
  transform: rotate(45deg);
  font-weight: lighter;
  text-decoration: none;
  font-size: 25px;

  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}
