body {
  background-color: #FFFCF9;
  font-family: Roboto, sans-serif;
  &.dark-mode {
    background-color: black !important;
  }
}

.banner {
  display: flex;
  justify-content: flex-start;
}

.dashboard-btn {
  margin-top: 30px;
  padding: 10px 15px;
  border: 1px solid black;
  background-color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}



.header-message {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-top: 30px;
  flex-grow: 1;
}

.total-score-container {
  border: 1px solid black;
  margin-bottom: 15px;
  margin-top: 40px;
  padding: 20px 80px;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
    .score-header {
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: 400;
      margin-bottom: 0;
      color: black;
      }
      .score-info {
        font-weight: 500;
      }
    .message {
      font-size: 18px;
      font-weight: 300;
      border-top: 3px solid #9B89BF;
      padding-top: 7px;
    }
}

.overview-container {
  border: 1px solid black;
  padding: 20px;
  margin-top: 33px;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-height: 331.2px;
  overflow-x: auto;

  p {
    letter-spacing: 2px;
  }
}

.average-over-time-container {
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  margin-top: 40px;
  min-height: 500px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .average-over-time-header {
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.table {
  font-weight: 100;
  max-width: 100%;
  table-layout: fixed;
}

td {
  background-color: rgba(153, 102, 255, 0.2) !important;
}

th {
  font-weight: 400;
}

thead, tbody, tfoot, tr, td, th {
  border-color: white;
}


.extra-info-container {
  border: 1px solid black;
  padding: 18px;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 30px;
  display: column;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  p {
    font-size: 17px;
    padding: 0;
    margin-bottom: 0;
    letter-spacing: 1px;
  }

  .info {
    text-align: center;
    padding: 10px;

  }
  .total_games {
    border-top: 3px solid #F5BC3A;
  }
  .total_score {
    border-top: 3px solid  #ff6041;
  }
  .best_time {
    border-top: 3px solid #17BBB0;
  }
}

.extra-info-header {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 30px;
}

.info-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.leaderboard .nav-link {
  color: black;
    &:hover {
      color: black;
    }
}

@media (max-width: 1199px)  {
  .table {
    font-size: 14px;
  }
    .total-score-container {
      padding: 15px;
    }
}

@media (max-width: 991px) {
  .table {
    font-size: 10px;
  }
  .total-score-container {
    padding: 15px;
  }
  .total-score-container .score-header .message {
    font-size: 14px;
}
}
@media (max-width: 769px) {
  .table {
    font-size: 14px;
  }
  .header-message {
    font-size: 25px;
  }
  .dashboard-btn {
    padding: 8px 13px;
    font-size: 10px;
  }

}
// DARK_MODE



.dark-mode .dashboard-btn {
  background-color: #FFFCF9;
  color: black;
}

.dark-mode,
th, td {
  color: white;
}

.dark-mode .nav-tabs .nav-link.active {
  color: white !important;
  background-color: black !important;
  border-color: #FFFCF9 !important;
}

.dark-mode .nav-tabs .nav-link:not(.active) {
  color: black !important;
  background-color: white !important;
  border: 1px solid white !important;
}

.dark-mode .nav-tabs {
  background-color:  #ff6041 !important;
  margin-bottom: 20px !important;
  border: none;
}

.dark-mode .message {
  border-top: 1px solid black ;
}

.dark-mode .overview-container {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .table td {
  color: black;
}

.dark-mode .average-over-time-container {
  background-color:#F5BC3A;
}

.dark-mode .total-score-container {
  background-color:#9B89BF;
  // background-color: #ff6041;
}

.dark-mode .overview-container {
  background-color: #17BBB0;
}

.dark-mode .overview-container p {
  color: black;
}

.dark-mode .extra-info-container {
  background-color:#253237;
  color: white;
}

.dark-mode .leaderboard {
  background-color:#ff6041;
}

.dark-mode .score-info {
  color: black;
}

.dark-mode .score-info .fa-regular {
  color: #F5BC3A;
}

.dark-mode .average-over-time-header {
  color: black;
}


.dark-mode table {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.dark-mode .score-info > i + * {
  border: 1px solid black;
  padding: 2px;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.dark-mode canvas {
  box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.dark-mode .word {
  background-color: #17bbb07a;

}

// .dark-mode .score-attempts {
//   color: black;
// }
