.login .card-body {
  padding: 30px;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.login .card {
  border: 1px solid #e67e22 !important;
}

.text-center {
  margin-top: 10px;
  font-size: 25px;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .card-login {
    margin-left: 25px !important;
  }
}
