.modal-content {
  background-color: #212529;
  color: white;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
}

.modal-header {
  border-bottom: none;
  padding: 10px 20px;
}

.btn-close {
  filter: invert(100%);
  position: absolute;
  top: 10px;
  right: 10px;
}

.welcome-message-modal {
  font-size: 25px;
  text-align: center;
  border-bottom: 2px solid #ff6042;
  padding: 12px 20px;
  margin: 0 auto;
}

.modal-body {
  padding: 40px;
}

.game-modal-title {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ff6042;
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  font-family: Roboto;
}

.para-1 {
  margin-top: 20px;
}

.para-1 ul {
  padding-left: 20px;
}

.modal-gues {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.example-title {
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
}

.tile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  margin: 0 5px;
  border-radius: 5px;
}

.correct {
  background-color: #17bbb0;
}

.present {
  background-color: #f9c03a;
}

.absent {
  background-color: #ff6042;
}

.modal-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ml-3 {
  margin-left: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}
