.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.app-name {
  font-family: "Raleway Dots", sans-serif;
  font-weight: 600;
  color: white;
}

.heavy-font {
  font-weight: 900;
}

.nav-link {
  color: white;
  font-family: roboto;
  font-weight: 200;
  &:hover,
  &:focus {
    color: white;
  }
}

.navbar-nav {
  .nav-item {
    display: flex;
    align-items: center;
  }

  .avatar-link {
    padding: 0;
    margin-left: 15px;
  }

  .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 576px) {
  .navbar-nav {
    .avatar-link {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
