.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.app-name {
  font-family: "Raleway Dots", sans-serif;
  font-weight: 600;
}

.nav-link {
  color: white;
  font-family: roboto;
  font-weight: 200;
  &:hover,
  &:focus {
    color: white;
  }
}
